* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Arial", sans-serif;
  font-weight: normal;
  height: 100vh;
  width: 100%;
}
.containerr {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 10rem;
  //   background-attachment: fixed;
  //   height: 1300px;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    // background: url("cafe.jpg") no-repeat center;
    background-size: cover;
    filter: blur(50px);
    z-index: -1;
  }
}
.feedback-box {
  max-width: 85rem;
  // max-height: 80%;
  // min-width: 70vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  // align-items: center;
  // text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
  &_left {
    background: url("cafe.jpg") no-repeat center;
    display: block;
    background-size: cover;
    // object-fit: cover;
    height: 100%;
  }
  &_right {
    padding: 1.5rem;
    max-height: 80%;
    &-title {
      position: relative;
      align-items: center;
      text-align: center;
      padding: 0 0 10px;
      margin-bottom: 10px;
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        height: 4px;
        width: 50px;
        border-radius: 2px;
        background-color: black;
      }
    }
    &-item {
      width: 100%;
      border: 2px solid rgba(0, 0, 0, 0);
      outline: none;
      background-color: rgba(230, 230, 230, 0.6);
      padding: 0.5rem 1rem;
      font-size: 1.1rem;
    border-radius: .5rem;

      //   margin-bottom: 22px;
      transition: 0.3s;
      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
      &:focus {
        border: 2px solid rgba(30, 85, 250, 0.47);
        background-color: #fff;
      }
      &:last-child {
        resize: none;
      }
    }
    &-button{
      display: flex;
      justify-content: center;
      margin-right: 2rem;
      // &:last-child{
      //   justify-self: end;
      // }
    }
  }
}
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  color: black;
  background-color: rgba(230, 230, 230, 0.6);
  display: inline-block;
  cursor: pointer;
}

.inputfile:focus + label,
.inputfile + label:hover {
  color: rgba(30, 85, 250, 0.47);
  background-color: rgba(0, 0, 0, 0.1);
}
div.stars {
  // width: 270px;
  display: inline-block;
  position: relative;
  background-color: rgba(230, 230, 230, 0.6);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  box-shadow: 0 5px 10px rgba(145, 25, 25, 0.05);
  margin-bottom: 1rem;
}
 
input.star { display: none; }
 
label.star {
  float: right;
  padding-right: 10px;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}
 
input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}
 
input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}
 
input.star-1:checked ~ label.star:before { color: #F62; }
 
label.star:hover { transform: rotate(-15deg) scale(1.3); }
 
label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}


