*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: "Arial",sans-serif;
    font-weight: normal;
}
.container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    
}