html {
  font-size: 62.5%;
}
body {
  background-color: #f3faff;
}
:root {
  --blu-color: #42a7fe;
}
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}
.dropdown {
  width: 40rem;
  margin: 2rem auto 0;
  position: relative;
  &_select {
    cursor: pointer;
    padding: 2rem 2.5rem 2rem 4rem;
    background-color: var(--blu-color);
    color: white;
    display: flex;
    align-items: center;
  }
  &_text {
    margin-left: 3.5rem;
  }
  &_ceret {
    margin-left: auto;
  }
  &_items {
    padding: 2rem 2.5rem 2rem 4rem;
    display: flex;
    align-items: center;
    color: #b3bbce;
    transition: all 0.2s linear;
    cursor: pointer;
    border-left: 3px solid transparent;
    &:not(:last-child) {
      border-bottom: 1px solid red;
    }
    &:hover {
      color: #74809d;
      border-left-color: var(--blu-color);
    }
  }
  &_list {
    margin-top: 3rem;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(black, 0.1);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s linear;
    &:before {
      content: "";
      position: absolute;
      @include size(2rem);
      background-color: white;
      box-shadow: 0 0 10px 0 rgba(black, 0.1);
      // border-left: 1rem solid transparent;
      // border-right: 1rem solid transparent;
      // border-bottom: 1rem solid white;
      border-radius: 3px;
      top: 0;
      right: 2rem;
      transform: translateY(-50%) rotate(45deg);
      z-index: -1;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      @include size(100%, 3rem);
      background-color: transparent;
      transform: translateY(-100%);
    }
  }
  &:hover {
    .dropdown_list {
      opacity: 1;
      visibility: visible;
    }
  }
}
// .dropdown {
//   width: 40rem;
//   margin: 2rem auto 0;
//   position: relative;
//   &_select {
//     padding: 2rem 2.5rem 2rem 4rem;
//     background-color: var(--blu-color);
//     display: flex;
//     align-items: center;
//     color: white;
//   }
//   &_text {
//     margin-left: 3.5rem;
//   }
//   &_ceret {
//     margin-left: auto;
//   }
//   &_items {
//     padding: 2rem 2.5rem 2rem 4rem;
//     border-radius: 3px;
//     box-shadow: 0 0 10px 0 rgb(black, 0.1);
//     display: flex;
//     align-items: center;
//     color: #b3bbce;
//     cursor: pointer;
//     &:not(last-child) {
//       border-bottom: 1px solid red;
//     }
//     transition: all 0.5s linear;
//     border-left: 3px solid transparent;
//     &:hover {
//       border-left-color: blue;
//     }
//   }
//   &_list {
//     margin-top: 3rem;
//     border-radius: 3px;
//     box-shadow: 0 0 10px 0 rgba(black, 0.2);
//     position: absolute;
//     top: 100%;
//     left: 0;
//     width: 100%;
//     background-color: white;
//     opacity: 0;
//     visibility: hidden;
//     transition: all 0.5s linear;
//     &::before {
//       content: "";
//       position: absolute;
//       @include size(2rem);
//       box-shadow: 0 0 10px 0 rgba(black, 0.1);
//       background-color: white;
//       border-radius: 3px;
//       top: 0;
//       right: 2rem;
//       transform: translateY(-50%) rotate(45deg);
//       z-index: -1;
//     }
//     &::after {
//       content: "";
//       position: absolute;
//       top: 0;
//       left: 0;
//       background-color: transparent;
//       @include size(100%, 3rem);
//       transform: translateY(-100%);
//     }
//   }
//   &:hover {
//     .dropdown_list {
//       opacity: 1;
//       visibility: visible;
//     }
//   }
// }
