$blue-color:#42a7fe;
$green-color:#00c899;

@mixin size($width, $height:$width){
    width: $width;
    height: $height;
}

*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: "Poppins",sans-serif;
    font-weight: normal;
}
a{
    text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
}
.work {
    max-width: 1200px;
    padding:0 2rem;
    margin: 0 auto;
    &__heading{
        color: #1a0a3b;
        font-weight: 500;
        text-transform: capitalize;
        font-style: 2.5rem;
        position: relative;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
        &::before{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            @include size(3.5rem,0.8rem);
            border-radius: 4px;
            background-color: $green-color;
        }
    }
    &__filter{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-tab{
        display: flex;
        margin-bottom: 1rem;
        &__item{
            cursor: pointer;
            padding: 1rem 1.5rem;
            border: 1px solid $green-color;
            text-align: center;
            border-radius: 2rem 0 2rem 2rem;
            transition: all .2s linear;
            &:hover{
                color: white;
                background-color: $green-color;
            }
            &:not(:first-child){
                margin-left: 1rem;
            }
        }
    }
    &__all{
        display: inline-block;
        padding: 5px 1rem;
        border-radius: 1rem;
        color: $green-color;
        background-color: rgba($green-color,0.25);
    }
}