input[type = "file"]{
    display: none;
}
label {
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    background-color: #c0392b;
    padding: 15px 40px;
    letter-spacing: 1.5px;
    user-select: none;
    box-shadow: 5px 15px 25px rgba(0, 0, 0, .35);
    cursor: pointer;
    border-radius: 3px;
}
label i {
    font-size: 20px;
    margin-right: 10px;
}
label:active{
    te
}