* {
    box-sizing: border-box;
  }
html {
    font-size: 62.5%;
  }
.header{
    background-color: red;
    height: 200px;
    display: flex;
    &__logo{
      max-height: 10%;
    }
    &__name{
      margin-left: auto;

    }
}
img{
  o
}