* {
    box-sizing: border-box;
  }
html {
    font-size: 62.5%;
  }
.header{
    // border: 1px solid red;
    background-color: ;
    height: 100px;
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    &__logo{
      max-height: 100%;
      max-width: 100%;
      overflow: hidden;
      margin-left: 1rem;
      // position: absolute;
      // top: 50%;
      // transform: translateY(-50%);
    }
    &__name{
      // margin-left: auto;
      // margin-right: 1rem;
    }
}
img{
  max-width: 40%;
  height: 40%;
  object-fit: cover;
}