* {
    box-sizing: border-box;
  }
html {
    font-size: 62.5%;
  }
.header{
    background-color: red;
    height: 200px;
    // position: relative;
    &__logo{
      // overflow: hidden;
      
      max-height: 10%;
    }
    &__name{
      
    }
}