* {
    box-sizing: border-box;
  }
html {
    font-size: 62.5%;
  }
  a{
    text-decoration: none;
  }
.header{
    border: 1px solid black;
    background-color: aqua;
    height: 100px;
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    &__logo{
      max-height: 100%;
      max-width: 100%;
      overflow: hidden;
      margin-left: 1rem;
      // position: absolute;
      // top: 50%;
      // transform: translateY(-50%);
    }
    &__name{
      // margin-left: auto;
      // margin-right: 1rem;
    }
}
img{
  max-width: 40%;
  height: 40%;
  object-fit: cover;
}
.select {
  display: flex;
  align-items: center;
  background-color: #e4e4e4;
  &__item {
    font-size: 16px;
    display: inline-block;
    padding: 1rem ;
    width: 100%;
    border-left: 1px solid;
    cursor: pointer;
    transition: all 0.2s linear;
    &:last-child {
      border-right: 1px solid;
      padding-left: 0px;
    }
    &:first-child:hover {
      background-color: #f9f9f9;
    }
    &:hover {
      background-color: #f9f9f9;
    }
  }
  &__search{
    justify-self: end;
  }
}
input[type="search"] {
  border-radius: 20px; /* thay đổi giá trị theo ý muốn */
}
.dropdown {
  position: relative;
  &__item {
    position: relative;
    padding-bottom: 1rem;
    border-left: 3px solid transparent;
    transition: all 0.1s linear;
    &:not(:last-child) {
      border-bottom: 1px solid red;
    }
    &:hover {
      color: #74809d;
      border-left-color: red;
    }
    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 100%;
      top: 0;
      left: 0;
      background-color: blue;
      z-index: -1;
      transition: all 0.5s linear;
    }
    &:hover::after {
      width: 100%;
    }
    &:hover {
      color: white;
    }
  }
  &__list {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: 27px;
    text-align: center;
    width: 100%;
    background-color: transparent;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s linear;
    z-index: 2;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 3rem;
      transform: translateY(-100%);
      background-color: transparent;
    }
  }
  &:hover {
    .dropdown__list {
      z-index: 2;
      opacity: 1;
      visibility: visible;
    }
  }
}