* {
    box-sizing: border-box;
  }
html {
    font-size: 62.5%;
  }
.header{
    border: 1px solid red;
    height: 100px;
    display: flex;
    position: relative;
    align-items: center;
    ju
    &__logo{
      max-height: 100%;
      max-width: 100%;
      overflow: hidden;
      // position: absolute;
      // top: 50%;
      // transform: translateY(-50%);
    }
    &__name{
      margin-left: auto;
    }
}
img{
  max-width: 25%;
  height: 25%;
  object-fit: cover;
}